
.topBanner{
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--black);
}

.btn-group-lg > .btn, .btn-lg{
    border-radius: .5rem 
}


.iconBanner{
    background-color: #E6AA98 !important;
}

.btn-primary{
   background: var(--gradient);
    border:none;
    transition: background 2s;
}

.btn-primary:hover{
    background: linear-gradient(93.31deg, #9469FE 0%, #FF79E0 80%, #FFBEA7 93.23%);;
    border:none;
    transition: background 2s;
 }

 /* navbar */

 .navbar{
     background:transparent !important;
     position: relative;
     z-index: 9999;
 }

 /* IMAGES BACKGROUND */
.circle-gradient{
    position: absolute;
    width: 397px;
    height: 397px;
    left: calc(50% - 397px/2 - 587.5px);
    top: -108px;
    
    background: #9469FE;
    opacity: 0.25;
    filter: blur(334px);
    
}
.circle-gradient2{
    position: absolute;
    right: 0px;
    height: 80%;
    background: #9469FE;
    opacity: 0.25;
    filter: blur(334px);
    z-index: 9999;
    
}

.coin{
    position: absolute;
    left: calc(50% - 91.15px/2 + 581.53px);
    top: 262.19px;
    mix-blend-mode: luminosity;
    opacity: 0.2;
    z-index: 999;
    filter: drop-shadow(0px 5.33333px 66.6667px rgba(17, 24, 73, 0.5));
}

.coin2{
    position: absolute;
    backdrop-filter: blur(66.6667px);
    /* Note: backdrop-filter has minimal browser support */
    z-index: 999;
    mix-blend-mode: luminosity;
    opacity: 0.8;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
}

.square1{
    position: absolute;
    right: 0px;
    top: 624px;
    z-index: 999;
    
}

.square2{
    position: absolute;
    width: 21.27px;
    height: 111.27px;
    left: 923px;
    top: 0px;

}

.square3{
    position: absolute;
    width: 34px;
    height: 117px;
    left: 301px;
    bottom: 0px;

}

.peoplestar{
    position: absolute;
    height: 90%;
    right: 10%;
    bottom: 0px;
    z-index: 99;
}

 /* IMAGES BACKGROUND */

@media all and (min-width:1024px) {}

@media all and (min-width:768px) and (max-width:1023px) {}

@media all and (min-width:426px) and (max-width:767px) {}

@media all and (max-width:425px) {
    .square1{
        position: absolute;
        right: 0px;
        width: 153px;
        top:560px;
        z-index: 0;
        
    }
    
    .square2{
        position: absolute;
        width: 17px;
        height: 117px;
        left: 263px;
        top: 0px;
        
    
    }
    
    .square3{
        position: absolute;
        width: 18px;
        height: 117px;
        left: 28px;
        bottom: 0px;
    
    }
    
}